<p class="login-box-msg"> Sign up</p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>

<div class=" input-group mb-3">
  <%= f.text_field :username, autofocus: true, autocomplete: "username", class:"form-control m-input" ,placeholder:"Fullname" %>
  <div class="input-group-append">
    <div class="input-group-text">
      <span class="fas fa-user"></span>
    </div>
  </div>
</div>

<div class="input-group mb-3">

  <%= f.email_field :email, autofocus: true, autocomplete: "email" , class:"form-control m-input" ,placeholder:"Email" %>

  <div class="input-group-append">
    <div class="input-group-text">
      <span class="fas fa-envelope"></span>
    </div>
  </div>
</div>

<div class="input-group mb-3">

  <%= f.password_field :password, autocomplete: "new-password" , class:"form-control m-input" ,placeholder:"Password" %>
  <div class="input-group-append">
    <div class="input-group-text">
      <span class="fas fa-lock"></span>
    </div>
  </div>
</div>

<div class="input-group mb-3">
  <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control m-input" ,placeholder:"password_confirmation" %>
  <div class="input-group-append">
    <div class="input-group-text">
      <span class="fas fa-lock"></span>
    </div>
  </div>
</div>

 <div class="col-4">
  <%= f.submit "Sign up",class:"btn btn-primary btn-block"%>
</div>
<% end %>
<%= link_to 'I already have a membership', new_user_session_path, class:"text-center" %>  
